<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cheqmate</title>
</head>
<body>
  <h1>Ticket Show</h1>

  <main>
    <nav>
      <ul>
        <li>
          <a href="/user/:id">Dashboard</a>
        </li>
    </nav>
    <ul>
      <li>Ticket Title: <%= ticket.title %> </li>
      <li>Assigned Developer: <%= ticket.developer %> </li>
      <li>Project: <%= ticket.project %> </li>
      <li>Ticket Status: <%= ticket.status %> </li>
      <li>Due Date: <%= ticket.dueDate %> </li>
      <li>Ticket Description: <%= ticket.description %> </li>
      <li>Submitted: <%= ticket.submitted %> </li>
      <li>Ticket Priority: <%= ticket.priority %> </li>
    </ul>
    <button><a href="/user/:id/ticket/<%= ticket._id %>/edit">Edit Ticket</a></button>
    <form method="POST" action="/user/:id/ticket/<%= ticket._id %>?_method=DELETE">
      <button type="submit">Delete Ticket</button>
    </form>
  </main>

</body>
</html>