<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/dashboard.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/90405cb4a8.js" crossorigin="anonymous"></script>
    <title>Cheqmate</title>
  </head>
  <body>

    <nav>
      <img class="nav-cheqmate-logo" src="/images/logo.png" alt="logo" />
      <h3 class="nav-greeting">Welcome, <%= user.username %>!</h3>
      <a href="/"><span class="nav-logout">Logout</span></a>
    </nav>

    <main>
      
      <div class="dashboard-admin">
        <a href="/user/<%= user._id %>/ticket/new" class="admin-btns admin-new-ticket">
          <i class="fas fa-ticket-alt admin-icon"></i>
          <p class="admin-item">New</p>
        </a>
				<a href="/" class="admin-btns">
          <i class="fas fa-users admin-icon"></i>
					<p class="admin-item">Users</p>
				</a>
				<a href="/" class="admin-btns">
          <i class="fas fa-clipboard-list admin-icon"></i>
					<p class="admin-item">Tasks</p>
        </a>
        <a href="/" class="admin-btns">
          <i class="fas fa-tasks admin-icon"></i>
					<p class="admin-item">Tickets</p>
        </a>
        <a href="/" class="admin-btns">
          <i class="fas fa-project-diagram admin-icon"></i>
					<p class="admin-item">Projects</p>
        </a>
      </div>

      <div class="dashboard-alltickets">

        <div class="tickets">
          <h2 class="tickets-title">Open Tickets</h2>
          <ul>
						<li class="ticket-description">
							<p>Title</p>
							<p>Status</p>
						</li>
            <% tickets.forEach(ticket => { %>
              <% if(ticket.status !== "Complete") { %> 
                <a href="/user/<%= user._id %>/ticket/<%= ticket._id %>">
                  <li class="ticket">
                    <p><%= ticket.title %></p>
                    <p><%= ticket.status %></p>
                  </li>
                </a> 
              <% } %>
            <% });  %> 
          </ul>
        </div>

        <div class="tickets">
          <h2 class="tickets-title">Completed</h2>
          <ul>
						<li class="ticket-description">
							<p>Title</p>
							<p>Status</p>
						</li>
            <% tickets.forEach(ticket => { %>
              <% if(ticket.status === "Complete") { %> 
                <a href="/user/<%= user._id %>/ticket/<%= ticket._id %>">
                  <li class="ticket">
                    <p><%= ticket.title %></p>
                    <p><%= ticket.status %></p>
                  </li>
                </a> 
              <% } %>
            <% });  %> 
          </ul>
        </div>
      </div>

    </main>
  </body>
</html>