<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/dashboard.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/90405cb4a8.js" crossorigin="anonymous"></script>
    <title>Cheqmate</title>
  </head>
  <body>
    <header>
      <img src="/images/logo.png" alt="logo" />
      <h3>Welcome, <%= user.name %>!</h3>
      <nav>
        <a href="/">Logout</a> |
        <a href="/"><i class="fas fa-user"></i>Profile</a>
      </nav>
    </header>
    <main>
      <div class="dashboard-admin">
        <div class="admin-buttons">
          <i class="fas fa-ticket-alt"></i>
          <a href="/user/<%= user._id %>/ticket/new">New Ticket</a>
        </div>
        <div class="admin-buttons">
          <i class="fas fa-users"></i>
          <a href="/">Users</a>
        </div>
        <div class="admin-buttons">
          <i class="fas fa-clipboard-list"></i>
          <a href="/">Projects</a>
        </div>
        <div class="admin-buttons">
          <i class="fas fa-tasks"></i>
          <a href="/">My Tickets</a>
        </div>
        <div class="admin-buttons">
          <i class="fas fa-project-diagram"></i>
          <a href="/">My Projects</a>
        </div>
      </div>
      <div class="dashboard-alltickets">
        <div class="dashboard-tickets">
          <h2 class="tickets-open">Tickets</h2>
          <ul>
            <% tickets.forEach((ticket) => { %>
              <% if(ticket.status !== 'Complete') { %> 
                <a href="/user/<%= user._id %>/ticket/<%= ticket._id %>">
                  <li>
                    <p><%= ticket.title %></p>
                    <p><%= ticket.developer %></p>
                    <p><%= ticket.status %></p>
                  </li>
                </a> 
              <% } %>
            <% });  %> 
          </ul>
        </div>
        <div class="dashboard-completed">
          <h2 class="completed-tickets">Completed</h2>
          <ul>
            <% tickets.forEach((ticket) => { %>
              <% if (ticket.status === 'Complete') { %> 
                <a href="/user/<%= user._id %>/ticket/<%= ticket._id %>">
                  <li>
                    <p><%= ticket.title %></p>
                    <p><%= ticket.developer %></p>
                    <p><%= ticket.status %></p>
                  </li>
                </a> 
              <% } %>
            <% }); %>
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>